# CYBERSECURITY WARNING: DO NOT give workflows write permission to any source code repo.
# If you want this functionality, ask for help from a subset of:
# @jvanburen @glittershark @mshinwell
name: ocamlformat
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  merge_group:
jobs:
  check:
    name: check (${{ matrix.system }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - system: x86_64-linux
            os: warp-ubuntu-latest-x64-32x
    steps:
      - name: Checkout the OxCaml repo
        uses: actions/checkout@master

      - name: Checkout the parent branch
        run: git fetch origin HEAD --deepen 1

      - name: Pretend we're running in a container (makes setup-ocaml go faster)
        run: sudo touch /.dockerenv
        # makes setup-ocaml skip apt-get, which is slow on first invocation

      - name: Set up Opam
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: oxcaml-ci-deps.5.2.0-with-ocaml.5.4.0
          opam-repositories: |
            local: file://${{ github.workspace }}/tools/ci/local-opam
            default: https://github.com/ocaml/opam-repository.git
          opam-disable-sandboxing: true
          opam-pin: false

      - name: 'Check for the "skip 80ch" PR tag'
        if: ${{ contains( github.event.pull_request.labels.*.name, 'skip 80ch') }}
        run: echo SKIP_80CH=y >> "$GITHUB_ENV"

      - name: Set up Opam environment
        # this command adds the opam environment to the PATH.
        run: |
          opam env --set-root --set-switch --shell=cmd | sed -n 's/^set //p' | tee -a "$GITHUB_ENV"

      # We need to configure for formatting, because dune with language version
      # 3.20 checks whether all files declared with [copy_files] exist. This
      # matters for Makefile.config, which is generated during configuration.
      - name: Configure compiler
        run: |
          autoconf
          ./configure \
            --enable-runtime5 --prefix=$GITHUB_WORKSPACE/_install

      - name: Check OCaml Formatting
        run: opam exec -- bash tools/ci/actions/check-fmt.sh
